{% extends 'base.html' %}

{% block content %}



    {% if user.is_authenticated %}
    
        <h1>Records</h1>

        {% if records %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                      
                    </tr>
                </thead>
                <tbody>
            {% for record in records %}

                    <tr>
                        <td>{{record.first_name}} {{record.last_name}}</td>
                        <td>{{record.phone_number}}</td>
                        <td>{{record.email}}</td>
                        <td>
                            <a href="{% url 'record' record.id %}" class="btn btn-secondary">View</a>
                            <a href="{% url 'update' record.id %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'delete' record.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    
            {% endfor %}
                </tbody>
            </table>
        {% endif %}
    
    {% else %}
    <div class="col-md-6 offset-md-3">

        <h1>Login</h1>
        
        <br/>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
    {% endif %}

{% endblock content %}